[MASTER]
init-hook='import sys; sys.path.append("/Users/edefrutos/edf_catalogotablas")'

[MESSAGES CONTROL]
disable=C0303,C0114,C0115,C0116,R0903,R0913,W0613,W0621,W0718,C0303,C0103,F0002

[IMPORTS]
known-third-party=flask,pymongo,bson,psutil,werkzeug

[TYPECHECK]
# Ignorar errores de inferencia de tipos que causan problemas
ignored-modules=flask,session
ignored-classes=session